@*How to make this div or this cshtml to be inserted into the body of _Layout.cshtml as the 'AngularUiRouterApp' tab of the MVC web application:
  1. Create Views/Home/AngularUiRouterApp.cshtml
  2. In \Views\Shared\_Layout.cshtml, add <li>@Html.ActionLink("Angular Ui Router App", "AngularUiRouterApp", "Home", new { area = "" }, null)</li>
  3. In \Controllers\HomeController.cs, add
      public ActionResult AngularUiRouterApp()
      {
        ViewBag.Title = "Angular Ui Router App";
        return View();
      }
*@

@*IMPORTANT: ui-router seemingly only works when its ng-app='..' is placed in the main web cshtml or _Layout.cshtml*@

<h2>
  Angular Ui Router App: use ui-sref in html to define a clickable name (or state)
  and use ui-view as a placeholde (in html) to be replaced by the content of ui-sref defined name in the angular-ui-router-app.js
</h2>
<div>
  <div class="tabs">
    @*below is to create clickable tabs and users can click on them to change state-based UI defined by <ui-view></ui-view>*@
    <a ui-sref="tab1" ui-sref-active="activeTab">Tab 1</a>  @*looking for the name: tab1 of the state in angular-ui-router-app.js*@
    <a ui-sref="tab2" ui-sref-active="activeTab">Tab 2</a>  @*looking for the name: tab2 of the state in angular-ui-router-app.js*@
    <button ui-sref="tab2">Tab 2</button>  @*can also make it look like a button*@
  </div>

  @*below is a placeholder for state-based UI*@
  <ui-view></ui-view>   @*it'll be replaced by the state content of angular-ui-router-app.js, i.e. https://localhost:44374/Home/AngularUiRouterApp#!/tab2 where tab2 is the name of a state*@
  @* switch bewteen web pages by doing Alt + left or right arrow key = in web app coding language, we say: change a state of a web page *@
  <br />

</div>

@section scripts {
  <script src="~/Scripts/angular.js"></script>
  <script src="~/Scripts/angular-ui-router.min.js"></script>  @*IMPORTANT: ui-router seemingly only works when its ng-app='..' is placed in the main web cshtml or _Layout.cshtml*@

  @*below works but commented out - search //Multi-Dependencies of the sln. to see reasons
    <script src="~/src/Ui_Router/angular-ui-router-app.module.js"></script>
    <script src="~/src/spinner/spinner.module.js"></script>
    <script src="~/src/shopping/shopping.module.js"></script>
    <script src="~/src/myApp.module.js"></script>*@

  <script src="~/src/Ui_Router/angular-ui-router-app.module.js"></script>

  <script src="~/src/Ui_Router/angular-ui-router-app.js"></script>

}
