
<div id="main-content" class="main_container">here</div>

@section scripts{
  <script src="~/src/Html_JS/ajax-utils.js"></script>  @*it's prior to the below line which will use the ajax-utils.js'*@
  <script src="~/src/Html_JS_DynamicViews/HtmlJs_DynamicViews_InBody.cshtml.js"></script>
}
