<div><h3 class="text-center">Html Main View from JS_DynamicViews_InBody.cshtml </h3></div>
<div id="call-btn">  @* tried to use  class="visible-xs"> but it seems not working here *@
  <a class="btn" href="tel:801-331-8758">
    <span class="glyphicon glyphicon-earphone"></span>801-331-8758
  </a>
</div>
<div class='text-center'><img src='/images/fall_trees_scene.jpg' width="300" height="240" alt="pic of trees"></div>
<div><h4 style="background-color:antiquewhite;">The below area displays view000, view100s or view2002.</h4> </div>

<div id="main-content" class="main_container">here</div>

@section scripts{
  <script src="~/src/Html_JS/ajax-utils.js"></script>  @*it's prior to the below line which will use the ajax-utils.js'*@
  <script src="~/src/Html_JS_DynamicViews/JS_DynamicViews_InBody.cshtml.js"></script>
}
