
<h1>Shopping List with Components</h1>

<div id="listComponentArea" ng-controller="SinglePage_MainController as ctrl">
  <input type="text" ng-model="ctrl.itemName" placeholder="item name" />
  <input type="text" ng-model="ctrl.itemQuantity" placeholder="quantity" />
  boxes
  <button ng-click="ctrl.addItem();">Add Item</button>

  <ol>
    <li ng-repeat="item in ctrl.items">
      {{item.quantity}} boxes of {{item.name}}
      <button ng-click="ctrl.removeItem($index);">Remove</button>
    </li>
  </ol>

  <list-component items="ctrl.items" title="{{ctrl.title}}"
                  on-remove="ctrl.removeItem(index)">
    @*here on-remove=".." is a callback func: 1. get index value from listComponent > ListComponentController: $ctrl.removeItem. 2. call SinglePage_MainController: ctrl.removeItem(index)*@
  </list-component>

</div>

<div id="listEventArea" ng-controller="ShoppingListController as ctrl">
  <h4>List Event and Spinner Area ///////////////////////</h4>
  <input type="text" ng-model="ctrl.itemName" placeholder="item name" />
  <input type="text" ng-model="ctrl.itemQuantity" placeholder="quantity" />
  boxes
  <button ng-click="ctrl.addItem();">Add Item</button>

  <list-event items="ctrl.items" title="{{ctrl.title}}"
                  on-remove="ctrl.removeItem(index)">
    @*here on-remove=".." is a callback func: 1. get index value from listComponent > ListComponentController: $ctrl.removeItem. 2. call SinglePage_MainController: ctrl.removeItem(index)*@
  </list-event>

</div>

<loading-spinner></loading-spinner>

<br />

@section scripts {
  <script src="~/Scripts/angular.js"></script>
  <script src="~/Scripts_Custom/SinglePage_AngularJS.cshtml.js"></script>
}
