<!--below will be inserted into AdvancedAngularJS.cshtml. Its js is inside AdvancedAngularJS.cshtml.js
  and the ctrl is ShoppingList3DirectiveController which is the controller of ShoppingList4Directive
  defined in .directive('shoppingList3', ShoppingList4Directive)-->

<h3>{{ctrl.title}}</h3>
<ol>
  <li ng-repeat="item in ctrl.items">
    <!--not ctrl1.items-->
    {{item.quantity}} boxes of {{item.name}}
    <button ng-click="ctrl.removeItem($index);">Remove</button>
  </li>
</ol>
<div class="error" ng-if="ctrl.cookiesInList()">
  {{ctrl.errorMessage}}   <!-- "Warning: cookies detected!" -->
</div>