<!--<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="DashboardController">-->

<head>
  <!-- Other head elements... -->
  <link rel="stylesheet" href="~/Content_Custom/explorer-styles.css">
</head>

<div ng-controller="DashboardController">

  <!-- Top Bar -->
  <div class="top-bar">
    <button ng-click="openAllDashboards()">Choose All Dashboards</button>
  </div>

  <!-- Widget Container -->
  <div class="widget-container">
    <explorer-widget ng-show="showExplorerWidget"></explorer-widget>
  </div>

  <!-- All Dashboards Modal -->
  <div class="modal" ng-show="showAllDashboards">
    <!-- Content of All Dashboards Grid -->
    <table class="dashboard-grid">
      <!-- Table headers -->
      <thead>
        <tr>
          <th>Icon</th>
          <th>Object Name</th>
          <th>Attributes</th>
          <th>Remark</th>
        </tr>
      </thead>
      <!-- Table rows (sample data) -->
      <tbody>
        <tr ng-repeat="dashboard in dashboards" ng-click="openExplorer()">
          <td>{{ dashboard.icon }}</td>
          <td>{{ dashboard.objectName }}</td>
          <td>{{ dashboard.attributes }}</td>
          <td>{{ dashboard.remark }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

@section scripts {

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="~/Widgets/Explorer/Explorer.Widget.js"></script>
}

<!--</body>
</html>-->
