<!--below is part of ShoppingList3DirectiveController-->
<h3>{{ctrl.title}}</h3>
<ol>
  <li ng-repeat="item in ctrl.items">
    <!--not ctrl1.items-->
    {{item.quantity}} boxes of {{item.name}}
    <button ng-click="ctrl.removeItem($index);">Remove</button>
  </li>
</ol>
<!--<div class="error" ng-if="ctrl.cookiesInList()">
  {{ctrl.errorMessage}}
</div>-->
<div class="error2">  <!--~\Content\Site.css-->
  Directive link error: cookie is found!
</div>
<div class="error3">
  <!--~\Content\Site.css-->
  Directive link error3 found by jQuery: cookie is found!
</div>