
<div id="listEventArea" ng-controller="ShoppingListController as ctrl">
  <h4>List Event and Spinner Area ///////////////////////</h4>
  <ul>
    <li>$ctrl.$docheck - send $rootScope.$broadcast('..', { on: true }) - loop promises.push(...promise call..) - loop final: $rootScope.$broadcast('..', { on: false }) </li>
    <li>As soon as $broadcast on,  spinner.component.js monitors it using $rootScope.$on('..', function (event, data) { ...showSpinner=true... } and html uses ng-if="$ctrl.showSpinner" to show spinner </li>
    <li>As soon as $broadcast off, spinner.component.js monitors it using $rootScope.$on('..', function (event, data) { ...stopSpinner=false... } and html uses ng-if="$ctrl.showSpinner" to hide spinner </li>
  </ul>
  <input type="text" ng-model="ctrl.itemName" placeholder="item name" />
  <input type="text" ng-model="ctrl.itemQuantity" placeholder="quantity" />
  boxes
  <button ng-click="ctrl.addItem();">Add Item</button>

  <ol>
    <li ng-repeat="item in ctrl.items">
      {{item.quantity}} boxes of {{item.name}}
      <button ng-click="ctrl.removeItem($index);">Remove</button>  <!--$ctrl.removeItem($index) = '$ctrl.removeItem = function (itemIndex)' of ListComponentController-->
    </li>
  </ol>

  <shopping-list-spinner items="ctrl.items" title="{{ctrl.title}}"
                         on-remove="ctrl.removeItem(index)">
    <!--*here on-remove=".." is a callback func: 1. get index value from listComponent > ListComponentController: $ctrl.removeItem. 2. call SinglePage_MainController: ctrl.removeItem(index)* -->
  </shopping-list-spinner>

</div>

<loading-spinner></loading-spinner> this comes from shopping-spinner.component.html   <!--*it's at the same level as other top div* -->

<br />

